<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-5">
                        <span class="section-heading-lower">Mofogasy</span>
                    </h2>
                    <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Zavatra ilaina
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex text-secondary today">
                            Lafarinina 500g
                            
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex text-secondary today">
                            Siramamy 125g
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex text-secondary today">
                            Sira 1 sotrokely
                        </li>
                    </ul>
                    <p class="address mb-2">
                        <em>
                            <strong>Fikarakarana azy</strong>
                        </em>
                    </p>
                    <p class="mb-2">
                        <small><em>Lorem ipsum ...</em></small>
                        <br>
                    </p>
                    <a class="btn btn-secondary text-light" href="#!">Tohiny</a>
                    <div class="bg-secondary d-flex mt-4 navbar text-light">
                        <div class="likes mx-3">Like</div>
                        <div class="comments mx-3">Comment</div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-5">
                        <span class="section-heading-lower">Mofogasy</span>
                    </h2>
                    <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Zavatra ilaina
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex text-secondary today">
                            Lafarinina 500g
                            
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex text-secondary today">
                            Siramamy 125g
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex text-secondary today">
                            Sira 1 sotrokely
                        </li>
                    </ul>
                    <p class="address mb-2">
                        <em>
                            <strong>Fikarakarana azy</strong>
                        </em>
                    </p>
                    <p class="mb-2">
                        <small><em>Lorem ipsum ...</em></small>
                        <br>
                    </p>
                    <a class="btn btn-secondary text-light" href="#!">Tohiny</a>
                    <div class="bg-secondary d-flex mt-4 navbar text-light">
                        <div class="likes mx-3">Like</div>
                        <div class="comments mx-3">Comment</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>