{% extends 'base.html.twig' %}

{% block title %}Homepage - FFS{% endblock %}

{% block body %}
    <div class="row mx-auto">
        <div class="col-md-12">
            <div class="form-group">
                <label class="bmd-label-floating">Email</label>
                <input type="email" class="form-control" name="email" required>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label class="bmd-label-floating">Password</label>
                <input type="password" class="form-control" name="password" required>
            </div>
        </div>
        <div class="col-md-12">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button type="submit" class="btn btn-success w-100 text-center">Signin</button>
        </div>
    </div>
{% endblock %}