<h1 class="site-heading text-center text-faded d-lg-block">
    <span class="site-heading-upper text-primary mb-3">Tongasoa eto @ ny fizarana FFS na ny fomba fandrahoana sakafo :)</span>
</h1>
<div class="container mb-5">
    <div class="intro-left">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4">
                <span class="h3">Tia mahandro ? Tia mizara ? Mitady Mpahandro sakafo ?</span>
                <br />
                <span class="section-heading-upper">Zarao amin'ireo namanao eto ny tsiambaratelon'ny fandrahoanao sakafo mba hahitan'ny olona anao :)</span>
            </h2>
            <div class="authentication-button">
                <div class="intro-button mx-auto"><a class="btn btn-secondary btn-xl text-light" href="{{ path('app_login') }}">Hanokatra kaonty FFS efa nisy</a></div>
                <div class="intro-button mx-auto"><a class="btn btn-secondary btn-xl text-light" href="{{ path('app_register') }}">Hamorona kaonty FFS vaovao</a></div>
            </div>
        </div>
    </div>
</div>